$colors: (
  menu: #717171,
  boxLight: #c5b994,
  boxDark: #8d8672,
  newsletter: #e3d3a4,
  submit: #726e61,
  light: #fff,
  lightGray: #f3f3f3,
  dark: #000,
  logo: #3a7579,
  line: #f3f3f3
);
$breakpoints: (
  tablet: "768px",
  desktop: "1100px"
);
