/*------------------
|	BUTTONS
|------------------*/

.btn{
	$self: &;
	background: $Blue;
	color: $White; 
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 10px;
	&:hover{
			background: #0d75ce;
			transition: all 0.6s;
		}
	@include m('big'){
		@include fonts(700,11);
		height: 50px;
	   	margin: 0 auto;
		max-width: 220px;

		@include respond-to(sm){
			@include fonts(700,15);
	    	height: 55px;
	    	max-width: 305px;

		}
		@include respond-to(md){
			@include fonts(700,18);
	    	height: 66px;
	    	max-width: 355px;

		}
	}
	@include m('default'){
		@include fonts(700,11);
	    height: 50px;
		max-width: 220px;
		margin: 0 auto;
		@include respond-to(sm){
			@include fonts(700,13);
			max-width: 213px;
			margin: 0;
			height: 50px;
		}
		@include respond-to(md){
			@include fonts(700,16);
			max-width: 213px;
			margin: 0;
			height: 66px;
		}

	}
	@include m('default-two'){
		@include fonts(700,18);
		margin: 0 auto;
	}
	@include m('small-two'){
		@include fonts(700,14);
	}
	@include m('small-two'){
		@include fonts(700,14);
	}
	@include m('small'){
		@include fonts(700,14);
	    height: 35px;
		max-width: 130px;

		
	}
	@include m('transparent'){
		@include fonts(700,10);
		margin-left: -35px;
	    max-width: 178px;
	    display: flex;
	    justify-content: space-evenly;
		vertical-align: middle;
	    height: 33px;
	    border-radius: 20px;
	    padding: 7px;
	    text-align: center;
	    background: #0d75ce;
	    // background: rgba(210, 210, 210, 0.53);
   	 	//border: 2px solid rgba(210, 210, 210, 0.53);
	    @include respond-to(sm){
	   	margin: 0;
		background: #0d75ce;
	   	// border: 2px solid  rgba(210, 210, 210, 0.53);
	   	 height: 35px;
	   	 padding: 0px 20px;
	    }

	    &:hover{
	    	background: #00447d;
	    }
	}

}


