//COLORS OF HOME
$Black            : #000;
$Black-Light      : #232323;
$Blue             : #008aff;
$Blue-Ocean       : #004efe;
$Blue-Default     : #084879;
$Blue-Dark        : #112d64;
$Gray-Light	      : #6f6f6f;
$Gray-Extra	      : #757575;
$Gray-Ultra-Light : #c4c4c4;
$Gray  	          : #b2b3b6;
$Gray-Dark        : #666;
$Gray-Strong      : #191919;
$tranparent	      : rgba(55, 55, 55, 0.11);
$White            : #fff;