// Center Position
%centerPositionAll{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.owl-carousel {
    .owl-stage-outer {
      margin: 0 rem(10);
    }

    .owl-controls {
        @extend %boxFull;
    }

    .owl-nav {
        display: block;
    }
    
    .owl-prev,
    .owl-next {
      position: absolute;
      // top: 50%;
      width: rem(20);
      height: rem(20);
      background: transparent;
      border-top: rem(2) solid cl(grayMedium);
      border-right: rem(2) solid cl(grayMedium);
      box-shadow: 0 0 0 lightgray;
      transition: all 200ms ease;
      top: 43.4%;
      // transform: translateY(-50%);
      

      // @include size(50px);
      // border-radius: 50%;
      // position: absolute;
      // display: block;
      // z-index: 999;
      // top: 50%;
      // font-size: 0;
      // height: 31px;
      // width: 18px;
      // left: 0%;
      // transform: translateY(-50%);
      // transition: all .2s ease-in-out;

      // @include respond-to(lg){
      //   //left: -9%;
      // }

      // &:before {
      //   //@extend .fa;
      //   //@extend .fa-angle-left;
      //   @extend %centerPositionAll;
      //   color: #ccc;
      //   font-size: rem(38);
      //   z-index: 99;
      // }

      // &:hover,
      // &:focus {
      //   // background-color: rgba($cor-primaria, .9);
      // }
    }

    .owl-prev{
      left: -15px;
      transform: translate3d(0,-50%,0) rotate(-135deg);

    }
    .owl-next{
      right: -15px;
      transform: translate3d(0,-50%,0) rotate(45deg);
    }

    // .owl-next{
    //   left: auto;
    //   right: 0%;
    //   //transform: translateY(-50%) rotate(180deg);
    //   @include respond-to(lg){
    //     //right: -9%;
    //   }
    // }
 

  .owl-dots{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    transform: translateY(150%);

    @include respond-to(sm){
      transform: translateY(300%);
    }
  }

  .owl-dots .owl-dot {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #c1c1c1;
    margin: 0 5px;
  }

 .owl-dots .owl-dot.active {
    background-color: #939598;
  }



}