// GLOBAL PLACEHOLDERS

//No padding
%nopd {
    padding: 0;
}

// Center Block
%centerBlock{
    display: block;
    margin: {
        right: auto;
        left: auto;
    }
}

//Float Left
%floatLeft{
    float: left;
}

//Box Full
%boxFull {
    @extend %floatLeft;
    width: 100%;
}

// img prop
%imgProp {
	@include size(100%, auto);
}

// Transition
%transitionAll {
    transition: all .2s ease-in-out;
}

%pinkButton {
    background-color: #ed0652;
    border: 0 none;
    border-radius: $border-radius;
    color: #fff;
    font-weight: 500;
    padding: 10px 25px;
    position: relative;
}

%bigButton {
    zoom: 1.5;
}

%transition {
    transition: all 500ms ease;
}