.#{$prefix}-informative {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  span {
    text-transform: uppercase;
    font-size: rem(14px);
    width: 100%;
  }
  @include e("item") {
    span {
      background: getColor(boxLight);
      color: getColor(dark);
      background: #c5b994;
      color: #000;
      width: 327px;
      display: block;
      text-align: center;
      padding: 10px 0;
    }
    @include m("first") {
      span {
        background: getColor(boxDark);
        color: getColor(light);
      }
    }
  }
  @media (min-width: getBreakpoint(tablet)) {
    flex-basis: 50%;
  }
}
