.#{$prefix}-header {
  padding: 20px 0;

  @media (min-width: getBreakpoint(tablet)) {
    padding: 20px 0 0;
  }

  @include e("block") {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;

    @media (min-width: getBreakpoint(tablet)) {
      flex-direction: row;
    }
  }

  @include e("nav") {
    z-index: 10;

    @media (min-width: getBreakpoint(tablet)) {
      background: #f1f1f1;
      margin-top: 20px;
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      padding: 0;
      margin: 0;
      opacity: 0;
      background: getColor(logo);
      list-style: none;
      transform: translateX(100%);
      transition: 0.5s all;
      z-index: 5;

      @media (min-width: getBreakpoint(tablet)) {
        background: transparent;
        opacity: 1;
        position: relative;
        flex-direction: row;
        width: auto;
        height: auto;
        transform: translateX(0);
        justify-content: space-between;
      }
      li {
        width: 100%;
        text-align: center;
        padding: rem(10px) 0;
        position: relative;
        @media (min-width: getBreakpoint(tablet)) {
          width: auto;
          padding: rem(10px) 0;
        }
        a {
          text-decoration: none;
          color: getColor(light);
          width: 100%;
          line-height: 1.8;
          font-size: rem(20px);
          font-weight: 500;
          letter-spacing: rem(1px);
          position: relative;
          display: block;
          transition: 0.5s all;
          @media (min-width: getBreakpoint(tablet)) {
            font-size: rem(17px);
            letter-spacing: rem(0.5px);
            background: transparent;
            display: inline-block;
            color: #5d5d5d;
            padding: 5px;
            text-transform: uppercase;
            border-bottom: 3px solid transparent;

            &:hover {
              border-bottom-color: getColor(logo);
            }
          }
        }
      }
    }
    .menu-icon {
  
      width: 27px;
      display: flex;
      flex-direction: column;
      z-index: 7;
      position: absolute;
      top: 77px;
      right: 1rem;

      @media (min-width: getBreakpoint(tablet)) {
        display: none;
      }
      span {
        width: 100%;
        height: 4px;
        position: relative;
        display: block;
        background: getColor(logo);
        margin: 2px 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
      }
    }
  }

  @include m("internal") {
    background: getColor(logo);
    padding: 30px 0;
    border-top: 1px solid getColor(lightGray);
    border-bottom: 1px solid getColor(lightGray);

    h1 {
      color: getColor(light);
      margin: 0;
    }
    span {
      position: relative;
      display: block;
      top: 10px;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
    }
  }
}

.is-active {
  .menu-icon {
    position: fixed;
    right: 20px;
    top: 50px;
  }
  .nav {
    transform: translateX(0);
    opacity: 1;
  }
  .menu-icon {
    span {
      background-color: getColor(light);

      &:nth-child(1) {
        transform: translateY(8px) rotate(-45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-8px) rotate(45deg);
      }
    }
  }
}

.haim-marcacao {
  display: flex;
  margin-top: 15px;

  @media (min-width: getBreakpoint(tablet)) {
    margin-top: 0;
  }
  svg {
    width: 30px;
    height: 34px;
  }
}