.#{$prefix}-newsletter {
    background: getColor(boxDark);
    color: getColor(light);
    font-family: "Lato", sans-serif;
    padding: 20px 0;
    @include e("cta") {
        font-size: 14px;
        color: getColor(light);
        b {
            color: getColor(newsletter);
            font-weight: 600;
        }
    }
    .wpcf7-form {
        display: flex;
        flex: {
            direction: column;
            wrap: wrap;
        }
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        @media (min-width: getBreakpoint(tablet)) {
            flex-direction: row;
        }
    }
}