.#{$prefix}-newsletter {
  background: getColor(boxDark);
  color: getColor(light);
  font-family: "Lato", sans-serif;
  padding: 20px 0;
  @include e("cta") {
    font-size: 14px;
    color: getColor(light);
    b {
      color: getColor(newsletter);
      font-weight: 600;
    }
  }

  .#{$prefix}-form {
    margin: 10px 0 0;
    display: flex;
    flex-direction: column;

    @media (min-width: getBreakpoint(tablet)) {
      flex-direction: row;
      margin: 10px 0;
    }

    .wpcf7-form-control-wrap,
    .wpcf7-submit {
      flex-basis: calc(100% / 3);
      margin: 5px 0;

      @media (min-width: getBreakpoint(tablet)) {
        margin: 0 10px 0 0;
      }
    }
  }
}
