.#{$prefix}-procedures {
  padding: 20px 0 0;

  @media (min-width: getBreakpoint(tablet)) {
    padding: 50px 0;
  }

  @include e("list") {
    display: flex;
    flex: {
      direction: column;
      wrap: wrap;
    }
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    @media (min-width: getBreakpoint(tablet)) {
      flex-direction: row;
    }

    @include m("internal") {
      .haim-procedures__item {
        @media (min-width: getBreakpoint(tablet)) {
          margin: 0 8px 20px 0;
          flex-basis: calc((100% / 4) - 8px);
        }
      }
    }
  }

  @include e("item") {
    list-style: none;
    padding-left: 0;
    flex-basis: 1;
    width: 100%;
    position: relative;
    display: flex;

    margin: 0 0 20px;

    @media (min-width: getBreakpoint(tablet)) {
      margin: 0 8px 20px 0;
      flex-basis: calc((100% / 3) - 8px);
    }

    span {
      color: getColor(light);
      text-transform: uppercase;
      position: absolute;
      width: 80%;
      max-width: 100%;
      bottom: 23px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      z-index: 2;
      font-size: 14px;
      letter-spacing: 1px;
      transition: 0.3s all;
    }
    img {
      width: 100%;
      object-fit: cover;
      display: block;
      z-index: 0;
    }
    a {
      width: 100%;
      transition: 0.3s all;

      &:hover {
        transform: scale(1.03);

        span {
          bottom: 50%;
          transform: translateX(-50%) translateY(50%);
          font-size: 16px;
        }

        .haim-procedures__mask::after {
          background: linear-gradient(to top, #c5b994, transparent 100%);
          height: 110%;
        }
      }
    }
  }

  @include e("mask") {
    background: rgba(getColor(boxLight), 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    &::after {
      content: " ";
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, #c5b994, transparent 90%);
      width: 100%;
      height: 90px;
      transition: 0.3s all;
    }
  }
}
