.#{$prefix}-slide {
  position: relative;
  img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  @include e("mask") {
    background: rgba(getColor(logo), 0.76);
    color: getColor(light);
    width: 100%;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    left: 0;

    text-align: center;

    h1 {
      text-transform: uppercase;
      margin-top: 7px;
    }
    span {
      font-weight: 300;
      &,
      strong {
        margin: 0;
        padding: 0;
      }
    }
  }

  @include e("text-big") {
    font: {
      size: 21px;
      weight: 300;
    }
    letter-spacing: 0.5px;
  }
  @include e("text-small") {
    font-size: 16px;
    margin-top: 3px !important;
    display: block;
  }
}
